{% extends 'user/base.html' %}

{% block main %}
{% if user.is_authenticated %}
<div class="table-responsive">
     <table class="table table-striped table-hover table-bordered">
          <thead class="table-warning">
               <tr>
                    <th scope="col">Bill_Number</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Description</th>
                    <th scope="col">Create At</th>
                    <th scope="col">Details</th>
               </tr>
          </thead>
          <tbody>
               {% if records %}
               {% for record in records %}
               <tr>
                    <th scope="row">{{record.id}}</th>
                    <th>{{record.customer_name}}</th>
                    <th>{{record.item_name}}</th>
                    <th>{{record.quantity}}</th>
                    <th>{{record.unit_price}}</th>
                    <th>{{record.payment_status}}</th>
                    <th>{{record.description}}</th>
                    <th>{{record.date | date:"d M Y"}}</th>
                    <th><a href="{% url 'record' record.pk %}">View</a></th>
               </tr>
               {% endfor %}
               {% endif %}
          </tbody>
     </table>
</div>
{% endif %}
{% endblock main %}