{% extends 'user/base.html' %}

{% block main %}
{% if user.is_authenticated %}
<div class="table-responsive">
     <h1 class="text-center text-capitalize"> member details</h1>
     <table class="table  table-hover table-bordered">
          <thead class="table-primary">
               <tr>
                    <th scope="col">ID Number</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Profile</th>
                    <th scope="col">Address</th>
                    <th scope="col">Province (City)</th>
                    <th scope="col">Country (Zip_Code)</th>
                    <th scope="col">Contact</th>
                    <th scope="col">MemberShip Types</th>
                    <th scope="col">Registration At</th>
                    <th scope="col">Details</th>
               </tr>
          </thead>
          <tbody>
               {% if member %}
               {% for member in member %}
               <tr class="text-capitalize">
                    <th scope="row">MEB_{{member.registration_date | date:"y"}}__{{member.id}}</th>
                    <th>{{member.first_name}} {{member.last_name}} <br>({{member.gender}})</th>
                    <th><img src="{{member.images.url}}" alt="{{ member.first_name }}" class="img-thumbnail"
                              style="max-width: 40px;"></th>
                    <th>{{member.street_address}} <br> {{member.street_address2}}</th>
                    <th>{{member.state_province}} ({{member.city}})</th>
                    <th>{{member.country}} ({{member.zip_code}})</th>
                    <th class="text-lowercase">
                         {{member.email}}<br>{{member.contact}}<br>{{member.emergency_contact}}<br>{{member.emergency_contact2}}
                    </th>
                    <th>{{member.membership_types}}<br> ({{member.date_of_signature| date:"d M Y"}})</th>
                    <th>{{member.registration_date | date:"d M Y"}}</th>
                    <th>
                         <a href="{% url 'member' member.pk %}">View</a>

                    </th>

               </tr>

               {% endfor %}
               {% endif %}
          </tbody>
     </table>
</div>
{% endif %}
{% endblock main %}