{% extends 'crm/base.html' %}
{% block main %}
{% if user.is_superuser %}
<h1>Welcome back, {{user.username}}! SuperUser</h1>

<div class="table-responsive">
     <table class="table table-striped table-hover table-bordered">
          <thead class="table-warning">

               <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
               </tr>
          </thead>
          <tbody>
               {% if records %}
               {% for record in records %}
               <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <th>{{record.username}}</th>
                    <th>{{record.first_name}} {{record.email}}</th>
                    <th>{{record.first_name}}</th>
                    <th>{{record.last_name}}</th>
                    <!-- <th><a href="{% url 'record' record.pk %}">View</a></th> -->
               </tr>
               {% endfor %}
               {% endif %}
          </tbody>
     </table>
</div>
{% else %}
<div class="col-mb-6 offset-md-3">
     <h1>Login Admin</h1>
     <form method="POST" action="{% url 'main' %}">
          {% csrf_token %}
          <div class="mb-3">
               <input type="text" class="form-control" name="username" placeholder="username" required>
          </div>
          <div class="mb-3">
               <input type="password" class="form-control" name="password" placeholder="password" required>
          </div>
          <button type="submit" class="btn btn-success">Login</button>

     </form>
</div>
{% endif %}
{% endblock main %}