<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home'%}">CRM User</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
               aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                         <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
                    </li>
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              Member Details
                         </a>
                         <ul class="dropdown-menu">
                              <li class="nav-link">
                                   <a class="dropdown-item" href="{% url 'add_record' %}">Add Bill</a>
                              </li>
                              <li class="nav-link">
                                   <a class="dropdown-item" href="{% url 'record_details' %}"> Bill Details</a>
                              </li>
                              <li class="nav-link">
                                   <a class="dropdown-item" href="{% url 'add_yoga' %}">Add Yoga Member</a>
                              </li>
                              <li class="nav-link">
                                   <a class="dropdown-item" href="{% url 'yoga_details' %}"> Yoga Member Details</a>
                              </li>
                              <li class="nav-link">
                                   <a class="dropdown-item" href="{% url 'add_member' %}">Add Member</a>
                              </li>
                              <li class="nav-link">
                                   <a class="dropdown-item" href="{% url 'member_details' %}"> Member Details</a>
                              </li>
                         </ul>
                    </li>
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              Product
                         </a>
                         <ul class="dropdown-menu">
                              <li class="nav-link">
                                   <a class="dropdown-item" href="{% url 'stock_details_view' %}"> Stock Details</a>
                              </li>
                              <li class="nav-link">
                                   <a class="dropdown-item" href="{% url 'product_details' %}"> Product Details</a>
                              </li>
                              <li class="nav-link">
                                   <a class="dropdown-item" href="{% url 'add_product' %}"> ADD Product</a>
                              </li>
                         </ul>
                    </li>
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              Payment
                         </a>
                         <ul class="dropdown-menu">
                              <li class="nav-link">
                                   <a class="dropdown-item" href="{% url 'cash_transaction_create' %}"> Cash Transaction</a>
                              </li>
                              <li class="nav-link">
                                   <a class="dropdown-item" href="{% url 'cash_transaction_list' %}"> Cash Transaction List</a>
                              </li>
                         </ul>
                    </li>
                    
                    {% else %}
                    <li class="nav-item">
                         <a class="nav-link" href="{% url 'home' %}">LogIn</a>
                    </li>

                    {% endif %}


               </ul>
          </div>
     </div>
</nav>