{% extends 'user/base.html' %}
{% load static %}
{% block main %}
<div class="col-mb-6 offset-md-3">
<h2 class="p-2 text-secondary">Customer Records:</h2>
<section style="background-color: #eee;">
     <div class="container py-5">
          <form action="" method="post" name="signup">
               {% csrf_token %}
               <div class="row">
                    <div class="col-lg-8">
                         <div class="card mb-4">
                              <div class="card-body">
                                   <div class="row">
                                        <div class="col-sm-3">
                                             <p class="mb-0">Full Name</p>
                                        </div>
                                        <div class="col-sm-9">
                                             <p class="text-muted mb-0">{{customer_record.customer_name}}</p>
                                        </div>
                                   </div>
                                   <hr>
                                   <div class="row">
                                        <div class="col-sm-3">
                                             <p class="mb-0">Bill Number</p>
                                        </div>
                                        <div class="col-sm-9">
                                             <p class="text-muted mb-0">{{customer_record.id}}</p>
                                        </div>
                                   </div>
                                   <hr>
                                   <div class="row">
                                        <div class="col-sm-3">
                                             <p class="mb-0">Item Name</p>
                                        </div>
                                        <div class="col-sm-9">
                                             <p class="text-muted mb-0">{{customer_record.item_name}}</p>
                                        </div>
                                   </div>
                                   <hr>
                                   <div class="row">
                                        <div class="col-sm-3">
                                             <p class="mb-0">Quantity</p>
                                        </div>
                                        <div class="col-sm-9">
                                             <p class="text-muted mb-0">{{customer_record.quantity}}</p>
                                        </div>
                                   </div>
                                   <hr>
                                   <div class="row">
                                        <div class="col-sm-3">
                                             <p class="mb-0">Unit Price</p>
                                        </div>
                                        <div class="col-sm-9">
                                             <p class="text-muted mb-0">{{customer_record.unit_price}}</p>
                                        </div>
                                   </div>
                                   <hr>
                                   <div class="row">
                                        <div class="col-sm-3">
                                             <p class="mb-0">Payment</p>
                                        </div>
                                        <div class="col-sm-9">
                                             <p class="text-muted mb-0">{{customer_record.payment_status}}</p>
                                        </div>
                                   </div>
                                   <hr>
                                   <div class="row">
                                        <div class="col-sm-3">
                                             <p class="mb-0">Create At</p>
                                        </div>
                                        <div class="col-sm-9">
                                             <p class="text-muted mb-0">{{customer_record.date | date:"d M Y"}}</p>
                                        </div>
                                   </div>
                                   <hr>
                                   <div class="row">
                                        <div class="col-sm-3">
                                             <p class="mb-0">Description</p>
                                        </div>
                                        <div class="col-sm-9">
                                             <p class="text-muted mb-0">{{customer_record.description}}</p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
                         <a href="{% url 'delete_record' customer_record.pk %}" class="btn btn-danger">Delete</a>
                         <a href="{% url 'update_record' customer_record.pk %}" class="btn btn-primary">Update</a>
                    </div>
               </div>
               
               
          </form>
     </div>
</section>
</div>
{% endblock main %}