{% extends 'user/base.html' %}
{% load static %}
{% block main %}
<div class="col-mb-6 offset-md-3">
     <h2 class="p-2 text-secondary">Sport Records:</h2>
     <section style="background-color: #eee;">
          <div class="container py-5">
               <form action="" method="post" name="signup">
                    {% csrf_token %}
                    <div class="row text-capitalize">
                         <div class="col-lg-4">
                              <div class="card mb-4">
                                   <div class="card-body text-center">
                                        <!-- <img src="{{customer_record.feature_image.url }}" alt="avatar"
                                        class="rounded-circle img-fluid" style="width: 550px;"> -->
                                        <img src="{{customer_record.images.url}}" alt="{{customer_record.first_name}}"
                                             height="200px">
                                        <h5 class="my-3">{{customer_record.name}}</h5>
                                        <p class="text-muted mb-1">Player : {{customer_record.players}}</p>
                                   </div>
                              </div>
                         </div>
                         <div class="col-lg-8">
                              <div class="card mb-4">
                                   <div class="card-body">
                                        <div class="row">
                                             <div class="col-sm-3">
                                                  <p class="mb-0">Sport Name</p>
                                             </div>
                                             <div class="col-sm-9">
                                                  <p class="text-muted mb-0">{{customer_record.name}}</p>
                                             </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                             <div class="col-sm-3">
                                                  <p class="mb-0">Player</p>
                                             </div>
                                             <div class="col-sm-9">
                                                  <p class="text-muted mb-0">{{customer_record.players}}</p>
                                             </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                             <div class="col-sm-3">
                                                  <p class="mb-0">Equipment</p>
                                             </div>
                                             <div class="col-sm-9">
                                                  <p class="text-muted mb-0">{{customer_record.equipment}}</p>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <a href="{% url 'sport_details' %}" class="btn btn-secondary">Back</a>
                              <a href="{% url 'delete_sport' customer_record.pk %}" class="btn btn-danger">Delete</a>
                              <a href="{% url 'update_sport' customer_record.pk %}" class="btn btn-primary">Update</a>
                         </div>
                    </div>


               </form>
          </div>
     </section>
</div>
{% endblock main %}